<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="sqlSessionFactory">
  <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  <property name="hibernate.connection.url">jdbc:oracle:thin:@127.0.0.1:1521:XE</property>
  <property name="hibernate.connection.username">it0625</property>
  <property name="hibernate.connection.password">1111</property>
  <property name="hibernate.default_schema">it0625</property>
  <property name="hibernate.dialect">org.hibernate.dialect.Oracle11gDialect</property>
  <property name="hibernate.hbm2ddl.auto">create</property>
  <mapping class="com.gsitm.ex03.vo.BoardHVO"/>
 </session-factory>
</hibernate-configuration>
