<?xml version="1.0" encoding="UTF-8"?>
<!-- configuration file for LogBack (slf4J implementation)
See here for more details: http://gordondickens.com/wordpress/2013/03/27/sawing-through-the-java-loggers/ -->
<configuration scan="true" scanPeriod="30 seconds">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5level %logger{0} - %msg%n</pattern>      
        </encoder>
    </appender>
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/ex01/log/ex01-webapp.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>ex01-webapp.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
 
    <root level="debug">
        <appender-ref ref="console"/>                
        <appender-ref ref="file"/>
    </root>
    <logger name="com.gsitm.ex01.mapper.BoardMapper" level="DEBUG"/>
    
    <logger name="org.springframework">
        <level value="debug" />
    </logger>
    <logger name="org.mybatis">
        <level value="TRACE"/>
	</logger>
	
	<logger name="java.sql">
	    <level value="DEBUG"/>
	</logger> 
</configuration>
